# 課題0705

そのまま課題ファイルで編集しないでください。課題ファイルを複製してから課題を回答してください。

## 課題1

pandasでDataフォルダの```example.json```を読み込む。

In [35]:
import pandas as pd

df = pd.read_json("Data/example.json",lines = True)
df

     Name  Price  Model  Power
0   Honda  10000   2005   1300
1  Toyota  12000   2010   1600
2    Audi  25000   2017   1800
3    Ford  28000   2009   1200

## 課題2

pandasでDataフォルダの```state-abbrevs.csv```、```state-areas.csv```、```state-population.csv```を読み込む。

これらのデータを使って、**2010年**アメリカの各州の人口密度を計算しよう。

In [137]:
df_abbrevs = pd.read_csv("Data/state-abbrevs.csv")

In [138]:
df_areas = pd.read_csv('Data/state-areas.csv')

In [139]:
df_population= pd.read_csv('Data/state-population.csv')

In [140]:
df_population_2010 = df_population[(df_population["year"] == 2010) & (df_population["ages"] == "total")]
df1= pd.merge(df_abbrevs, df_areas)
df1 = df1.rename(columns={"abbreviation": "state/region"})
df2 =pd.merge(df1,df_population_2010,on='state/region')
df2
df_density= df2["population"] / df2["area (sq. mi)"]
df_density

0       91.287603
1        1.087509
2       56.214497
3       54.948667
4      228.051342
5       48.493718
6      645.600649
7      460.445752
8     8898.897059
9      286.597129
10     163.409902
11     124.746707
12      18.794338
13     221.687472
14     178.197831
15      54.202751
16      34.745266
17     107.586994
18      87.676099
19      37.509990
20       6.736171
21      23.654153
22      24.448796
23     140.799273
24    1009.253268
25      16.982737
26     356.094135
27     177.617157
28       9.537565
29     257.549634
30      53.778278
31      39.001565
32     466.445797
33     621.815538
34     102.015794
35      61.078373
36      61.321530
37      86.015622
38     275.966651
39     681.339159
40     144.854594
41      10.583512
42     150.825298
43      93.987655
44      32.677188
45      65.085075
46     187.622273
47      94.557817
48      76.519582
49      86.851900
50       5.768079
dtype: float64

## 課題3

```state/region```、```ages```と```years```でデータフレームをグループして、各グループで$\frac{population}{area (sq. mi)}$の形で人口密度を計算してください。

In [136]:
df3=pd.merge(df1,df_population)
df4=df3.groupby(['state/region', 'ages', 'year'])[['population', 'area (sq. mi)']].sum()
df4["density"] = df4["population"] / df4["area (sq. mi)"]
df4

                           population  area (sq. mi)   density
state/region ages    year
AK           total   1990    553290.0         656425  0.842884
                     1991    570193.0         656425  0.868634
                     1992    588736.0         656425  0.896882
                     1993    599434.0         656425  0.913180
                     1994    603308.0         656425  0.919081
...                               ...            ...       ...
WY           under18 2009    134960.0          97818  1.379705
                     2010    135351.0          97818  1.383702
                     2011    135407.0          97818  1.384275
                     2012    136526.0          97818  1.395714
                     2013    137679.0          97818  1.407502

[2448 rows x 3 columns]