# 課題1

与えられたリスト内重複な値を削除してください。

In [ ]:
numbers = [1, 2, 3, 2, 4, 3, 5, 4, 6, 57, 57, 6, 18, 7, 9, 8, 10, 9, 0, 0, 10]

In [ ]:
set_numbers = set([1, 2, 3, 2, 4, 3, 5, 4, 6, 57, 57, 6, 18, 7, 9, 8, 10, 9, 0, 0, 10])
set_numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 18, 57}

# 課題2

与えられたリスト内の指定した値を検索し、値の出現回数を```print```してください。見つからない場合は```Not Exists```を```print```してください。

```value_0```と```value_１```を実行した結果を確認してください。

In [ ]:
numbers = [1, 2, 3, 2, 4, 3, 5, 4, 6, 57, 57, 6, 18, 7, 9, 8, 10, 9, 0, 0, 10]
value_0= 0
value_1= 100

In [ ]:
print(numbers.count(value_0))

2

In [ ]:
print(numbers.count(value_1))

0

# 課題3

与えられた辞書内の指定したに一致するキーを検索し、そのキーに対応する値を```print```してください。見つからない場合は```Not Exists```を```print```してください。

```value_0```と```value_１```を実行した結果を確認してください。

In [ ]:
birth={'Marx': 1818,
       'Weber': 1864,
       'Durkheim': 1858,
       'Parsons': 1902,
       'Merton': 1911}

value_0= "Parsons"
value_1= "Giddens"

In [ ]:
print(birth[value_0])

1902

In [ ]:
print(birth[value_1])

KeyError: ignored

# 課題4

与えられた辞書の値を新しいリストに格納し、降順にソートしてください。

In [ ]:
birth={'Marx': 1818,
       'Weber': 1864,
       'Durkheim': 1858,
       'Parsons': 1902,
       'Merton': 1911}

In [ ]:
list_birth=list(birth.items())
list_birth.sort(reverse=True)
list_birth

[('Weber', 1864),
 ('Parsons', 1902),
 ('Merton', 1911),
 ('Marx', 1818),
 ('Durkheim', 1858)]