# 課題1

与えられたリスト内重複な値を削除してください。

In [ ]:
numbers = [1, 2, 3, 2, 4, 3, 5, 4, 6, 57, 57, 6, 18, 7, 9, 8, 10, 9, 0, 0, 10]

In [ ]:
##課題１への解答について：重複している値そのものを全消しするのか、片割れを残してもう片方を消すのかわからなかったので、どちらも演習してみました。
#課題１への解答①：１ステップずつ消していく。
numbers=[1, 2, 3, 2, 4, 3, 5, 4, 6, 57, 57, 6, 18, 7, 9, 8, 10, 9, 0, 0, 10]
n=len(numbers)
array=[]

for i in range(n-1):
  for j in range(i+1,n):
    if numbers[i]==numbers[j]:
      array.append(numbers[i])
for i in array:
  numbers.remove(i)

print(numbers)

[1, 2, 3, 5, 4, 57, 6, 18, 7, 8, 9, 0, 10]

In [ ]:
#課題１への解答②：重複している値の片割れを消す。
numbers = [1, 2, 3, 2, 4, 3, 5, 4, 6, 57, 57, 6, 18, 7, 9, 8, 10, 9, 0, 0, 10]
numbers = list(set(numbers))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 18, 57]

In [ ]:
#課題１への解答③：重複している値ごと全て消す。
numbers=[1, 2, 3, 2, 4, 3, 5, 4, 6, 57, 57, 6, 18, 7, 9, 8, 10, 9, 0, 0, 10]
n=len(numbers)
n_list=[]

for i in range(n-1):
  for j in range(i+1,n):
    if numbers[i]==numbers[j]:
      n_list.append(numbers[i])

for i in n_list:
  num = numbers.count(i)
  for k in range(num):
    numbers.remove(i)

print(numbers)

[1, 5, 18, 7, 8]

# 課題2

与えられたリスト内の指定した値を検索し、値の出現回数を```print```してください。見つからない場合は```Not Exists```を```print```してください。

```value_0```と```value_１```を実行した結果を確認してください。

In [ ]:
numbers= [1, 2, 3, 2, 4, 3, 5, 4, 6, 57, 57, 6, 18, 7, 9, 8, 10, 9, 0, 0, 10]
value_0= 0
value_1= 100

In [ ]:
#課題２への解答①
numbers=[1, 2, 3, 2, 4, 3, 5, 4, 6, 57, 57, 6, 18, 7, 9, 8, 10, 9, 0, 0, 10]
value_0=0
value_1=100

def list_search(num):
  if num>0:
    print(num)
  else:
    print("Not exist")

count1=numbers.count(value_0)
count2=numbers.count(value_1)

list_search(count1)
list_search(count2)

2
Not exist

In [ ]:
#課題２への解答②：もっとシンプルに書く。
numbers=[1, 2, 3, 2, 4, 3, 5, 4, 6, 57, 57, 6, 18, 7, 9, 8, 10, 9, 0, 0, 10]
value_0=0
value_1=100

def list_search(num):
  count=numbers.count(num)
  if count>0:
    print(count)
  else:
    print("Not exist")

list_search(value_0)
list_search(value_1)

2
Not exist

# 課題3

与えられた辞書内の指定したに一致するキーを検索し、そのキーに対応する値を```print```してください。見つからない場合は```Not Exists```を```print```してください。

```value_0```と```value_１```を実行した結果を確認してください。

In [ ]:
birth={'Marx': 1818,
       'Weber': 1864,
       'Durkheim': 1858,
       'Parsons': 1902,
       'Merton': 1911}

value_0= "Parsons"
value_1= "Giddens"

In [ ]:
#課題３への解答
birth={'Marx':1818,
       'Weber':1864,
       'Durkheim':1858,
       'Parsons':1902,
       'Merton':1911}
value_0='Parsons'
calue_1='Giddens'

def dic_search(key):
  if key in birth:
    print(birth[key])
  else:
    print("Not exist")

dic_search(value_0)
dic_search(value_1)

1902
Not exist

# 課題4

与えられた辞書の値を新しいリストに格納し、降順にソートしてください。

In [ ]:
birth={'Marx': 1818,
       'Weber': 1864,
       'Durkheim': 1858,
       'Parsons': 1902,
       'Merton': 1911}

In [ ]:
birth={'Marx': 1818,
       'Weber': 1864,
       'Durkheim': 1858,
       'Parsons': 1902,
       'Merton': 1911}

d_list = list(set(birth.values()))
d_list.sort(reverse=True)
print(d_list)

[1911, 1902, 1864, 1858, 1818]

In [ ]:
birth={'Marx': 1818,
       'Weber': 1864,
       'Durkheim': 1858,
       'Parsons': 1902,
       'Merton': 1911}

d_list = list(birth.values())
d_list.sort(reverse=True)
print(d_list)

[1911, 1902, 1864, 1858, 1818]