# 課題1

与えられたリスト内重複な値を削除してください。

In [ ]:
numbers = [1, 2, 3, 2, 4, 3, 5, 4, 6, 57, 57, 6, 18, 7, 9, 8, 10, 9, 0, 0, 10]

In [ ]:
dict1 = dict.fromkeys(numbers)
list1 = list(dict1)
list1

[1, 2, 3, 4, 5, 6, 57, 18, 7, 9, 8, 10, 0]

# 課題2

与えられたリスト内の指定した値を検索し、値の出現回数を```print```してください。見つからない場合は```Not Exists```を```print```してください。

```value_0```と```value_１```を実行した結果を確認してください。

In [ ]:
numbers = [1, 2, 3, 2, 4, 3, 5, 4, 6, 57, 57, 6, 18, 7, 9, 8, 10, 9, 0, 0, 10]
value_0= 0
value_1= 100

In [ ]:
numbers = [1, 2, 3, 2, 4, 3, 5, 4, 6, 57, 57, 6, 18, 7, 9, 8, 10, 9, 0, 0, 10]
print(numbers.count(0))

2

In [ ]:
numbers = [1, 2, 3, 2, 4, 3, 5, 4, 6, 57, 57, 6, 18, 7, 9, 8, 10, 9, 0, 0, 10]
print(numbers.count(100))
print("Not Exists")

0
Not Exists

# 課題3

与えられた辞書内の指定したに一致するキーを検索し、そのキーに対応する値を```print```してください。見つからない場合は```Not Exists```を```print```してください。

```value_0```と```value_１```を実行した結果を確認してください。

In [ ]:
birth={'Marx': 1818,
       'Weber': 1864,
       'Durkheim': 1858,
       'Parsons': 1902,
       'Merton': 1911}

value_0= "Parsons"
value_1= "Giddens"

In [ ]:
birth[value_0]

1902

In [ ]:
value_1 in birth
print("Not Exists")

Not Exists

# 課題4

与えられた辞書の値を新しいリストに格納し、降順にソートしてください。

In [ ]:
birth={'Marx': 1818,
       'Weber': 1864,
       'Durkheim': 1858,
       'Parsons': 1902,
       'Merton': 1911}

In [ ]:
birth.values()

dict_values([1818, 1864, 1858, 1902, 1911])

In [ ]:
list_a=[1818, 1864, 1858, 1902, 1911]
list_a

[1818, 1864, 1858, 1902, 1911]

In [ ]:
list_a.sort(reverse=True)
list_a

[1911, 1902, 1864, 1858, 1818]